*{
    background-color: #ddcff5;
}
h3{
    Font-size: 60px;
    color: #280d56;
    margin: 30px 30px;
    font-family: "big-caslon-fb", serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
#text-images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
p{
    margin: 0;
    padding: 5px;
    color: #280d56;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 500px;
}
.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: italic;
}
#lovesick{
    padding: 50px;
}
#on-the-floor{
   padding: 50px;
}
#i-cant-take-my-eyes-off-of-you{
    padding: 50px;
}
#starburster{
    padding: 50px;
}