body {
    background-color: #ebd4cb;
}
#space-one{
  height: 17vw;
  width:100%;
}

h3{
    Font-size: 90px;
    color: #2c0703;
    margin: 30px 30px;
    font-family: "birds-of-paradise", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
@font-face {
    font-family:'birds-of-paradise';
    src: url('../assets/BirdsOfParadisePersonalUseOnly-dX7X.ttf');
    font-style: normal;
    font-weight: normal;
}
#space-two{
  height: 30vw;
  width:100%;
}
#text-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
p{
    margin: 0;
    padding:10px;
    color: #2c0703;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 460px;
    background-color: #da9f93;
    font-size: px;
}

.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 420;
    font-style: normal;
}
h1{
  font-family: "birds-of-paradise", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  cursor:pointer; 
  color: #2c0703;
}
.play{
  background-color: #da9f93; 
  padding:10px;
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.button{
  background-color: #b6465f;
  width: 140px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 100%;
}


.baby-this-is-love-i-have{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.baby-this-is-love-i-have:hover #baby-this-is-love-i-have-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}




.my-son{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.my-son:hover #my-son-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}



.starburster{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.starburster:hover #starburster-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}



#one{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#890620;
    width: 480px;
    height: 480px;
}
#two{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#890620;
    width: 480px;
    height: 480px;
}
#three{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#890620;
    width: 480px;
    height: 480px;
}
@media (max-width:900px){
   #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:60px;
    width:500px;
    margin:0 auto;
    padding:20px;
  }  
}
@media (max-width:768px){
  #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:40px;
    width:350px;
    margin:0 auto;
    padding:20px;
  }
}

#space-three{
  height:3vw;
  width:100%;
}