body {
    background-color: #ffe3b3;
}
h3{
    Font-size: 60px;
    color: #00467b;
    margin: 30px 30px;
    font-family: "birds-of-paradise", serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
@font-face {
    font-family:'birds-of-paradise';
    src: url('../assets/BirdsOfParadisePersonalUseOnly-dX7X.ttf');
    font-style: normal;
    font-weight: normal;
}
#text-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
p{
    margin: 0;
    padding:10px;
    color: #00467b;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 320px;
    background-color: #ffc872;
}
.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 420;
    font-style: italic;
}
.we-were-girls-together{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.to-watch-the-world-spin-without-you{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.as-long-as-you-love-me{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.my-love-mine-all-mine{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
img{
    width:300px;
    transition: transform 0.8s ease;
}
img:hover {
  transform: scale(1.6);
}
#one{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#3782ad;
    width: 340px;
    height: 340px;
}
#two{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#3782ad;
    width: 340px;
    height: 340px;
}
#three{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#3782ad;
    width: 340px;
    height: 340px;
}
#four{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#3782ad;
    width: 340px;
    height: 340px;
}
@media (max-width:900px){
   #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:60px;
    width:500px;
    margin:0 auto;
    padding:20px;
  }  
}
@media (max-width:768px){
  #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:40px;
    width:350px;
    margin:0 auto;
    padding:20px;
  }
}

