*{
    background-color: #FFCBCF;
}
h3{
    Font-size: 60px;
    color: #641010;
    margin: 30px 30px;
    font-family: "birds-of-paradise", serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
@font-face {
    font-family:'birds-of-paradise';
    src: url('../assets/BirdsOfParadisePersonalUseOnly-dX7X.ttf');
    font-style: normal;
    font-weight: normal;
}
#text-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
    padding: 5px;
    color: #641010;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 500px;
}
.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: italic;
}
#harvest-moon{
    padding: 50px;
}
#the-two-of-us{
    padding: 50px;
}
#something-about-us{
    padding: 50px;
}
#en-nuit{
    padding: 50px;
}
#they-long-to-be-close-to-you{
    padding:50px;
}
