body {
    background-color: #caf0f8;
}
#space-one{
  height: 17vw;
  width:100%;
}

h3{
    Font-size: 90px;
    color: #03045e;
    margin: 30px 30px;
    font-family: "birds-of-paradise", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
@font-face {
    font-family:'birds-of-paradise';
    src: url('../assets/BirdsOfParadisePersonalUseOnly-dX7X.ttf');
    font-style: normal;
    font-weight: normal;
}
#space-two{
  height: 30vw;
  width:100%;
}
#text-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
p{
    margin: 0;
    padding:10px;
    color: #03045e;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 460px;
    background-color: #00b4d8;
    font-size: px;
}
.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 420;
    font-style: normal;
}
h1{
  font-family: "birds-of-paradise", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  cursor:pointer; 
  color: #03045e;
}
.play{
  background-color: #00b4d8; 
  padding:10px;
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.button{
  background-color: #90e0ef;
  width: 140px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.all-my-stars-aligned{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.all-my-stars-aligned:hover #all-my-stars-aligned-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}




.the-perfect-girl{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.the-perfect-girl:hover #the-perfect-girl-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}



.something-about-us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.something-about-us:hover #something-about-us-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}



#one{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#03045e;
    width: 480px;
    height: 480px;
}
#two{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#03045e;
    width: 480px;
    height: 480px;
}
#three{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#03045e;
    width: 480px;
    height: 480px;
}
@media (max-width:900px){
   #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:60px;
    width:500px;
    margin:0 auto;
    padding:20px;
  }  
}
@media (max-width:768px){
  #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:40px;
    width:350px;
    margin:0 auto;
    padding:20px;
  }
}

#space-three{
  height:3vw;
  width:100%;
}