body {
    background-color: #ffe1a8;
}
h3{
    Font-size: 60px;
    color: #540b0e;
    margin: 30px 30px;
    font-family: "big-caslon-fb", serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
#text-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
p{
    margin: 0;
    padding:10px;
    color: #540b0e;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 320px;
    background-color: #e09f3e;
}
.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 420;
    font-style: italic;
}



.lovebuzz{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.lovebuzz:hover #lovebuzz-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}




.im-your-man{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.im-your-man:hover #im-your-man-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}



.starburster{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.starburster:hover #starburster-cover{
  border-radius: 50%;
  animation: rotate 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(1800deg); 
  }
}



#one{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#9e2a2b;
    width: 340px;
    height: 340px;
}
#two{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#9e2a2b;
    width: 340px;
    height: 340px;
}
#three{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color:#9e2a2b;
    width: 340px;
    height: 340px;
}
@media (max-width:900px){
   #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:60px;
    width:500px;
    margin:0 auto;
    padding:20px;
  }  
}
@media (max-width:768px){
  #text-images{
    flex-direction:column;
    gap:20px;
  }
  h3{
    font-size:40px;
    width:350px;
    margin:0 auto;
    padding:20px;
  }
}