body {
    background-color: #b6ced9;
}
h3{
    Font-size: 60px;
    color: #224023;
    margin: 30px 30px;
    font-family: "big-caslon-fb", serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
#text-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
p{
    margin: 0;
    padding: 5px;
    color: #b6d9b8;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 400px;
}
.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: italic;
}
.thats-enough-lets-get-you-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#224023;
    width: 500px;
    height: 600px;
}
.nothing{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#224023;
    width: 500px;
    height: 600px;
}
.golden-brown{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#224023;
    width: 500px;
    height: 600px;
}
