*{
    background-color: #C4CFFC;
}
h3{
    Font-size: 60px;
    color: #0F1F61;
    margin: 30px 30px;
    font-family: "birds-of-paradise", serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
@font-face {
    font-family:'birds-of-paradise';
    src: url('../assets/BirdsOfParadisePersonalUseOnly-dX7X.ttf');
    font-style: normal;
    font-weight: normal;
}
p{
    margin: 0;
    padding: 5px;
    color: #0F1F61;
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: normal;
    width: 500px;
    margin: 0 auto;
}
.song{
    font-family: "big-caslon-fb", serif;
    font-weight: 400;
    font-style: italic;
}
#lover-you-should-have-come-over{
    padding: 50px;
}
#tomorrow-never-came{
    padding: 50px;
}
#fake-plastic-trees{
    padding: 50px;
}
#im-your-man{
    padding: 50px;
}